<?xml version='1.0'?>
<model>
    <name>cartpole_robot</name>
    <version>0.0.1</version>
    <sdf version='1.6'>robot.sdf</sdf>

    <author>
        <name>Jason Xie</name>
        <email>jasonxie(at)live(dot)unc(dot)edu</email>
    </author>

    <description>
        Cartpole robot
    </description>
</model>